body {
  overflow-y: hidden;
}

main {
  section {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
    height: calc(100vh - 50px);
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.079); /* Semi-transparent background */
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000; /* Ensures it's above other elements */
    }

    .update_notification {
      border: solid #d7d7d9;
      background-color: white;
      color: #7c7c7c;
      width: 150px;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .error {
      color: #fe3131;
      font-size: 0.8rem;
      align-self: start;
    }

    #header {
      height: 40px;
      border-left: None;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 40px;
      font-size: 25px;
      margin-top: 5px;
      color: #1a1a1a;
      font-weight: 550;
    }

    #company {
      display: flex;
      padding: 40px;
      padding-top: 0px;

      .company_edit {
        padding: 20px 20px;
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: white;
        display: flex;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
        justify-content: center;
        border: solid #f4f6f8;

        .block {
          justify-self: center;
          background-color: white;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          flex: 1;
          gap: 10px;
          border: solid #f4f6f8;

          .top_row {
            padding: 20px 15px;
            font-size: 18px;
            border: solid #f4f6f8;
            flex: 1;

            p {
              font-weight: 600;
              font-size: 13px;
              color: #1a1a1a;
            }
          }

          .data_management {
            padding: 20px 15px;
            padding-top: 0px;
            gap: 30px;
            display: flex;
            flex-direction: column;
            flex: 80;
            align-items: center;

            .input {
              width: 95%;
              display: flex;
              flex-direction: column;
              gap: 10px;
              font-size: 12px;
              color: #7c7c7c;
              
              p{
                justify-content: center;
                text-align: center;
              }
              

              .insert {
                display: flex;
                gap: 20px;
                justify-content: center;
                
                input {
                  padding: 10px;
                  border-radius: 5px;
                  border: solid #d7d7d9;
                  font-family: Public sans, sans-serif;
                  font-size: 12px;
                  color: #7c7c7c;
                  justify-self: center;
                  width: 100px;
                }

                input::placeholder {
                  color: #bbbbbb;
                  font-family: Public sans, sans-serif;
                }
              }
            }

            button {
              align-self: center;
              background-color: #007af9;
              color: #dcedfd;
              border: none;
              padding: 10px 20px;
              border-radius: 5px;
            }

            button:hover {
              background-color: #0460c3;
              color: #dcedfd; 
            }

            .delete {
              background-color: #f90000;
            }

            .delete:hover {
              background-color: #a30707;
              color: #dcedfd;

            }

            progress{
              width:100px;
            }
          }

          .data_structure{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;

            .options {
              display:flex;
              gap: 10px;

              button {
               
                color: #dcedfd;
                border: none;
                border-radius: 5px; 
              }

              .add{
                background-color: #007af9;
                padding: 10px 20px;
              }

              .drop{
                background-color: red;
                padding: 10px 30px;
              }

              }
            }
          }
        }
      }
    }
  }

